html {
  height: 100%;
  font-size: $baseFontSize;
}

body {
  position: relative;
  min-height: 100%;
  padding: $headerHeight + $headerBottomMargin 0 $footerHeight + $footerTopMargin / 3;
  font-family: $font-primary;
  letter-spacing: .02em;
  background: $-c-body-bg;

  @include media-breakpoint-up(md) {
    padding: $headerHeight + $headerBottomMargin 0 $footerHeight + $footerTopMargin;
  }
}

a {
  color: $-c-primary;

  &:hover {
    text-decoration: none;
  }
}

strong {
  font-weight: 500;
}

pre {
  margin: px-to-rem($baseFontSize / 2) 0 px-to-rem(26);
  padding: px-to-rem(20) px-to-rem(25);
  font-size: px-to-rem(15);
  background: rgba(0,0,0,.05);
  border-radius: 6px;

  code {
    color: $-c-code;
  }

  p {
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: circle inside;
  }
}