html {
  height: 100%;
  font-size: $baseFontSize;
}

body {
  position: relative;
  min-height: 100%;
  padding: $headerHeight + $headerBottomMargin 0 $footerHeight + $footerTopMargin;
  font-family: $font-primary;
  background: $-c-body-bg;
}

a {
  color: $-c-primary;

  &:hover {
    text-decoration: none;
  }
}