.h-1 {
  position: relative;
  padding-bottom: 4px;
  margin: px-to-rem(16) 0 px-to-rem(36);
  font-family: $font-primary;
  line-height: px-to-rem(60);
  font-size: px-to-rem(60);
  font-weight: 500;
  
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 80px;
    height: 2px;
    background: $-c-pl-1;
  }
}

.h-2 {
  @extend .h-1;
  margin: px-to-rem($baseFontSize * 3) 0 px-to-rem($baseFontSize);
  line-height: px-to-rem(40);
  font-size: px-to-rem(40);

  &::after { display: none; }
}

.h-3 {
  @extend .h-2;
  margin: px-to-rem($baseFontSize * 3) 0 px-to-rem($baseFontSize);
  line-height: px-to-rem(32);
  font-size: px-to-rem(32);
}

.small {
  margin-bottom: px-to-rem(8);
  color: $gray;
  letter-spacing: .01em;
}