$-c-primary: royalblue;
$-c-logo: mediumseagreen;
$-c-footer: #17031f;
$-c-body-bg: lighten(aliceblue, 1);
$-c-code: mediumseagreen;
$-c-warning: #fedd70;
$white: #ffffff;
$black: #101010;
$gray: #909090;
$-c-pl-1: #F2055C;
$-c-pl-2: #340040;
$-c-pl-3: #07F2F2;
$-c-pl-4: #05F26C;
$-c-pl-5: #EAF205;

// Sizes
$baseFontSize: 18px;
$headerHeight: 80px;
$headerBottomMargin: 80px;
$footerHeight: 90px;
$footerTopMargin: 200px;

// Fonts
$font-logo: 'Carter One';
$font-primary: 'Quicksand', serif;