.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  .logo {
    position: relative;
    display: inline-flex;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 2px;
      width: 88px;
      height: 2px;
      background: $-c-code;
    }

    img {
      margin-right: 7px;
      width: 38px;
      height: 38px;;
    }

    h1 {
      margin: 0;
      color: $-c-logo;
      font-size: px-to-rem(30);
      font-family: $font-logo;
      letter-spacing: -.007em;
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-left: 6px;

      a {
        position: relative;
        padding: 8px 12px;
        color: $-c-primary;
        font-size: px-to-rem(17);
        font-weight: 500;

        &:hover {

          &::before {
            width: 20px;
          }
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 5px;
          left: 12px;
          width: 0;
          height: 2px;
          background-color: $-c-primary;
          transition: all .2s cubic-bezier(.8,0,1,1);
        }
      }
    }
  }
}
